spring:
  application:
    name: green-energy-manager
  datasource:
    url: jdbc:mysql://localhost:3306/energy_manager
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: xxx
    password: xxx
  thymeleaf:
    cache: false
  mvc:
    static-path-pattern: /static/**
