body {
    font-family: Monaco, monospace;
    margin: 20px;
    background-color: #035c5c;
    color: #e5efdc;
}

form {
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    display: block;
    margin: 5px 0 2px;
}

input, select, button {
    margin: 5px 0 10px;
    padding: 5px 0 5px 15px;
    background-color: #e5efdc;
    border-radius: 20px;
    font-weight: 500;
}

input {
    height: 28px;
    width: 241px;
}

button {
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    width: 260px;
}

button:hover {
    background-color: #adbf9c;
}

#meterReadingForm button {
    margin-top: 10px;
}

select {
    height: 40px;
    width: 260px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#submitReading, #netDiffResult {
    width: 260px;
    text-align: center;
}

h1 {
    text-align: center;
}
.tabName {
    margin-top: 100px;
    width: 70%;
    text-align: center;
}
.formContainers {
    background-image: url("../background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

#submitReading p {
    margin-top: 0;
}